*.DS_Store
*.iml
*.lck
*.log
*.patch
*~
.buildpath
.checkstyle
.classpath
.factorypath
.idea/
.project
.settings/
/*-build/
/.mvn/.develocity/
/build/
/dev/release/apache-rat-0.16.1.jar
/dev/release/filtered_rat.txt
/dev/release/rat.xml
CMakeCache.txt
CMakeFiles/
Makefile
TAGS
arrow-git.properties
cmake_install.cmake
dependency-reduced-pom.xml
install_manifest.txt
target/
